*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#FoundWrapper{
  width:100%;
  height:100vh;
}

#NotFoundWrapper{
  width:100%;
  height:100vh;
  background: linear-gradient(to right, #16222a, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cloudy{
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.sunny{
  background: linear-gradient(to right, #f2994a, #f2c94c); 
}

.rainy{
  background: linear-gradient(to right, #44a08d, #093637);
}

.clear{
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}
.mist{
  background: linear-gradient(to right, #757f9a, #d7dde8);
}

.haze{
  background: linear-gradient(to right, #8e9eab, #eef2f3);
}
.snow{
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

#invalid{
  height:15%;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  font-size: 1.5rem;
}

#NotFound{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding-top:50px;
  font-weight: 400;
  color: white;
  opacity: 0.9;
  padding-inline:400px;
  text-align: justify;
}


#NotFoundImg{
  width:150px;
  height:150px;
  position: absolute;
  bottom: 150px;
  left:50%;
  transform: translateX(-50%);
}